# OS/system files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Python cache/build
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook checkpoints
.ipynb_checkpoints/

# Logs, temp files
*.log
tmp/